<%- include('parts/header.ejs') %>
<%- include('parts/navbar.ejs') %>

<div class="container" style="padding-top: 15px;">


   <form action="/" method="GET">
      <select name="category" class="form-control">
        <option value="all">All</option>
        <option value="clothes">clothes</option>
        <option value="phones">Phones</option>
        <option value="computers">Computers</option>
      </select>
      <input type="submit" class="btn btn-primary" value="editer">
   </form>
   <% if (validationError) { %>
    <p class="alert alert-danger">
      <%= validationError.msg %>
    </p>
   <% } %>
   <% if (products.length === 0 ) { %>
    <div class="alert alert-danger">
      there is no products
    </div>
   <% } else { %>
    <div class="row">
      <% for (let product of products) { %>
        <div class="col col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="card" style="width: 18rem;" >
            <img src="<%= product.image %>" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">
                <a href="/product/<%= product._id %>"><%= product.name %></a>
                <p>Price : <%= product.price %> $</p>
              </h5>
              <form action="/cart" method="POST">
                <input type="number" name="amount" class="form-control">
                <input type="hidden" name="name" value="<%= product.name %>">
                <input type="hidden" name="price" value="<%= product.price %>">
                <input type="hidden" name="productId" value="<%= product._id %>">
                <input type="hidden" name="redirectTo" value="/">
                <input type="submit" value="Add to cart" class="btn btn-primary">
              </form>
            </div>
          </div>
        </div>
      <% } %>  
   </div>
   <% } %>   
  
</div>
<%- include('parts/footer.ejs') %>